CHAT_PROVIDER="<Your model provider>"
CHAT_BASE_URL="<Your model provider's API base URL>"
CHAT_API_KEY="<Your API Key>"
CHAT_MODEL="<Your model name>"

# Database
#
# This URL is definite since we've used Docker Compose to create the postgres container. You can change the
# docker-compose.yml to choose different user, password or db. Make sure the URL here is changed accordingly.
DATABASE_URL="postgres://cortex:cortex_secret@localhost:5432/cortex?sslmode=disable"

# JWT Auth
JWT_SECRET="<Your JWT secret>"
JWT_EXPIRY_HOURS=24